<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
 <extension
       point="org.eclipse.ui.views">
    <category
          id="varviz"
          name="varviz">
    </category>
    <view
          category="varviz"
          class="cmu.varviz.trace.view.VarvizView"
          id="varviz"
          name="varviz"
          restorable="true">
    </view>
 </extension>
 <extension point="org.eclipse.debug.core.launchConfigurationTypes">
  <launchConfigurationType
        delegate="cmu.varviz.trace.generator.VarvizConfigurationDelegate"
        delegateDescription="This example tooling will run or debug example code."
        delegateName="Example Application Launch Tooling"
        id="cmu.varviz"
        modes="run,debug"
        name="Run With Varviz"
        public="true"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
  </launchConfigurationType>
 </extension>
 <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
  <launchConfigurationTabGroup
      id="com.example.ExampleTabGroup"
      type="cmu.varviz"
      class="cmu.varviz.trace.generator.VarvizConfigurationTabGroup">
      
  </launchConfigurationTabGroup>
 </extension>
 
 <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
            id="com.example.ui.launch.launchconfigurationtypeimage"
            configTypeID="cmu.varviz"
            icon="images/varviz_app2.png">
    </launchConfigurationTypeImage>
</extension>
 
 <extension
     point="org.eclipse.debug.ui.launchShortcuts">

  <shortcut
        class="cmu.varviz.trace.generator.VarvizLaunchShortcut"
        icon="images/varviz_app2.png"
        id="cmu.varviz.VarvizLaunchShortcut"
        label="Calc"
        modes="run">
    <contextualLaunch>
         <contextLabel mode="run" label="Varviz Application" />
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
        </adapt>
          </iterate>
           </with>
       </enablement>
     </contextualLaunch>
  </shortcut>
  </extension>
  
</plugin>
